html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: none;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: "Bebas Neue", sans-serif;
}
#content {
    padding: 225px;
}
#wrapper {
    margin-top: 0 ;
    
}


/* PARENT NAV CSS */

#parent-nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px

}
#logo, #name, #menu, #sign-up {
    height: 100%;
}
/* LOGO CSS */
#logo-img {
    margin-bottom: 9px;
    width: 90px;
}
#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}    


/* NAME CSS */

#name {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: left;
}

/* MENU CSS */
a {
    text-decoration: none;
    color: black;
    border: none;
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
a:hover{
    color:rgba(216, 42, 39, 0.466); 
    text-decoration:none; 
    cursor:pointer;  
    
}
#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
#home, #about, #contact {
    margin: 30px;
}


/* SIGN UP CSS */
#sign-up {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
    width: 25%;
}
#sign-up-btn {
    text-decoration: none;
    color: black;
    border: none;
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sign-up-btn:hover{
    color:rgba(216, 42, 39, 0.466); 
    text-decoration:none; 
    cursor:pointer;  
}
/*SLOGAN SECTION*/
#parent-slogan {
    
    display: flex;
    width: 80%;
    height: 350px;
    justify-content:flex-start;

}
#slogan h1 {
    margin: 20px;

}
#mission-statement h2{
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#slogan {
    position: absolute;
    top:200px;
    left:410px ;
    width: 322px;
    height: auto;
    margin-left: 10%;
    margin-top: 100px;
    font-size: 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: rgb(216, 43, 39);
}

#mission-statement {
    display: flex;
    justify-content: right;
    
    position: absolute;
    height: 500px;
    left: 750px;
}
#text-box {
    width: 80%;

}

#background-img {
    margin-left: 100px;
    width: 500px;
    position: absolute;
    z-index: -1;
}
/*#background-box {
    width: 50%;
    height: 600px;
    background-color: grey;
    justify-content: center;
    margin: 0 auto;


} */

/* About Section */

/* SIGN UP POP-UP SECTION */

#background-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#modal-content {
    width:500px;
    height: 300px;
    background-color: white;
    position: relative;
}
#close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 2.5rem;
    transform: rotate(45deg);
    cursor:
    pointer;
}
#close:hover {
    color:rgba(216, 42, 39, 0.466); 
    text-decoration:none; 
    cursor:pointer;  
}
#modal-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}
#where-heard-from {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#name-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
#email-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-content h2 {
    margin-right: 10px;
}

/* Mobile Design */

@media (max-width: 500px) {
    #name-img {
        display: none;
    }
    #logo-img {
        margin-left: 35px;

    }
}
